<div class="container w-50 mx-auto mb-5">
  <ul class="nav nav-pills text-center border border-1 rounded-0">
    <li class="nav-item w-50" >
      <%= link_to 'Sign in', new_user_session_path, class: "nav-link rounded-0 #{ 'active' if current_page? new_user_session_path }"%>
    </li>
    <li class="nav-item w-50 #{ 'active' if current_page? register_path }">
      <%= link_to 'Sign up', new_user_registration_path, class: "nav-link rounded-0 #{ 'active' if current_page? new_user_registration_path }" %>
    </li>
  </ul>
</div>